*{
    box-sizing: border-box;
}

.tasks__wrapper {
    background-color: #F0F0F0;
    border-radius: 10px;
}

.singleTask__wrapper {
    padding: 15px;
    border-bottom: 1px solid #E0E0E0;
    transition: 500ms ease-out;
    overflow: auto;
}

.singleTask__wrapper:hover {
    background-color: #E9E9E9;
}

.singleTask__wrapper:last-child {
    border-bottom: none;
}

.singleTask__container {
    margin: 10px 5px;
}

.singleTask__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}

.singleTask__text {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}

.singleTask__checkbox {
    margin: 0 5px 0 0;
    position: relative;
}

.singleTask__checkbox input {
    opacity: 0;
}

.checkbox_label .checkboxCustom {
    position: absolute;
    top: 3px;
    left: 0;
    height: 17px;
    width: 17px;
    border-radius: 5px;
    border: 1px solid #3498db;
    transition: all 400ms ease-out;
}
.checkbox_label .checkboxCustom::after {
    position: absolute;
    content: "";
    left: 5px;
    top: 5px;
    height: 0;
    width: 0;
    border-radius: 5px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    transform: rotate(0deg) scale(0);
    opacity: 1;
    transition: all 400ms ease-out;
}

.checkbox_label input:checked ~ .checkboxCustom {
    background-color: #3498db;
    border-radius: 5px;
    transform: rotate(0deg) scale(1);
    opacity: 1;
    border: 1px solid #3498db;
}
.checkbox_label input:checked ~ .checkboxCustom::after {
    transform: rotate(45deg) scale(1);
    opacity:1;
    left: 4.5px;
    top: 0.9px;
    width: 4px;
    height: 9px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    background-color: transparent;
    border-radius: 0;
  }
 
.singleTask__task {
    margin: 0 0 0 5px;
}

.singleTask__text input {
    border-radius: 50%;
}

.singleTask__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.singleTask__star {
    margin: 0 10px 0 0;

    position: relative;
    width: 0;
    height: 0;
    
    margin-left: .9em;
    margin-right: .9em;
    margin-bottom: 1.2em;
    
    border-right:  .3em solid transparent;
    border-bottom: .7em  solid #ccc;
    border-left:   .3em solid transparent;
  
    font-size: 0.8em;
}
    .singleTask__star:before, .singleTask__star:after {
        content: '';
        
        display: block;
        width: 0;
        height: 0;
        
        position: absolute;
        top: .6em;
        left: -1em;

        border-right:  1em solid transparent;
        border-bottom: .7em  solid #ccc;
        border-left:   1em solid transparent;

        transform: rotate(-35deg);
    }

    .singleTask__star:after {  
        transform: rotate(35deg);
    }

.x_border {
    margin: 0 0 0 5px;
    border-radius: 50%;
    transition: 400ms ease-out;
}
.x_border:hover {
    background-color: #D9D9D9;
}

.x_border:active {
    background-color: #CCC;
}

.singleTask__x {
    margin: 3px;
    position: relative;
    height: 1em;
    width: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 400ms;
}
    .singleTask__x::before,
    .singleTask__x::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 2px;
        background-color: #353535;
    }

    .singleTask__x::before {
        transform: rotate(45deg);
    }

    .singleTask__x::after {
        transform: rotate(-45deg);
    }