    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .headerModal__wrapper {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .headerModal__body {
        box-sizing: border-box;
        width: 40%;
        background-color: #EEE;
        padding: 5px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
        animation-name: animateModal;
        animation-duration: 500ms;
    }

    @keyframes animateModal {
        0% {opacity:0}
        100% {opacity:1}
    }

    .headerModal__header {
        line-height: 25px;
        margin: -5px 0 20px 0;
        display: flex;
        flex-direction: row-reverse;
    }
    .headerModal__header span {
        font-size: 35px;
        cursor: pointer;
    }

    .headerModal__main {
        width: 90%;
        margin: 20px auto;
        display: flex;
        flex-direction: column;
    }

    .headerModal__main_header {
        margin: 0 0 5px 0;
    }
    .headerModal__main_header h1{
        font-size: 1.8em;
        font-weight: 350;
    }

    .headerModal__main_textarea textarea{
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
        border: 1px solid #E1E1E1;
        background-color: #E3E3E3;
        font-size: 18px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        width: 100%;
        resize: none;
        padding: 10px 5px;
        border-radius: 5px;
    }

    .headerModal__main_button {
        margin: 5px 0;
        display: flex;
        flex-direction: row-reverse;
    }
    .headerModal__main_button button {
        color: #FEFEFE;
        background-color: #27619c;
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 1px;
        padding: 10px 50px;
        transition: 500ms;
        border: none;
        border-radius: 10px;
    }

    .headerModal__main_button button:hover {
        background-color: #175c88;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    }

    .headerModal__main_button button:active {
        background-color: #194572;
    }

    @media(max-width: 1024px) {
        .headerModal__body {
            width: 55%;
            
        }
    }

    @media(max-width: 768px) {
        .headerModal__body {
            width: 70%;
            
        }
    }

    @media(max-width: 480px) {
        .headerModal__body {
            width: 90%;
            height: 60%;
            display: grid;
            grid-template-rows: 1fr 11fr;
        }

        .headerModal__main {
            align-self: center;
            margin: 0 auto 20px;
        }

        .headerModal__main_header h1 {
            font-size: 2.3em;
        }

        .headerModal__main_textarea textarea{
            padding: 35px 5px;
        }
    }