.app__wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 9fr;
    grid-template-rows: 80px 1fr 50px;
    grid-template-areas: 
    "nav header"
    "nav main"
    "nav footer";
    box-sizing: border-box;
}

.app__header {
    grid-area: header;
    border-bottom: 1px solid #E1E1E1;
    background-color: #FAFAFA;
    padding: 10px 10px 10px 5px;
}
.app__navbar {
    grid-area: nav;
    background: rgb(70,149,204);
    background: linear-gradient(0deg, rgba(70,149,204,1) 0%, rgba(90,169,214,1) 50%, rgba(70,149,204,1) 100%);
    overflow: auto;
}
.app__main {
    grid-area: main;
    padding: 20px;
    overflow: auto;
}
.app__footer {
    grid-area: footer;
    border-top: 1px solid #E1E1E1;
    background-color: #FAFAFA;
}

@media(max-width: 768px){
    .app__wrapper{
        grid-template-columns: 5fr 7fr;
        grid-template-rows: 80px 1fr 50px;
    }
}

@media(max-width: 480px){
    .app__wrapper{
        grid-template-areas: 
        "header"
        "main"
        "footer";
        grid-template-columns: 12fr;
        grid-template-rows: 80px 1fr 40px;
    }
    .app__header {
        padding: 5px;
        background: linear-gradient(0deg, rgba(70,149,204,1) 0%, rgba(90,169,214,1) 50%, rgba(70,149,204,1) 100%);
    }
    .app__navbar {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* display: none; */
        padding: 5px;
    }
}